{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    {%include "upLinks.html" %}
    
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body class="animsition">
    <div class="page-header">
        <!-- page header -->
        
        {%include "header.html" %}

        <!-- /.navigation -->
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 text-center col-xs-12">
                    <div class="page-caption">
                        <h1 class="page-title">News Single</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.page header -->
    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                    <div class="content-area">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="post-holder mb40">
                                    <!-- post holder -->
                                    <div class="post-img"><img src="{% static 'images/blog-post-1.jpg' %}" alt="" class="img-responsive"> </div>
                                    <div class="post-block pinside30 outline">
                                        <div class="post-meta mb30">
                                            <!-- post meta -->
                                            <span class="meta-admin">By <a href="#" class="meta-link">Admin </a></span>
                                       
                                        <!-- /.post meta -->
                                        </div>
                                        <div class="post-header mb20">
                                            <h1 class="post-title mb30">More Than 100 Planners, One Philosophy</h1>
                                        </div>
                                        <div class="post-meta mb30">
                                            <!-- post meta -->
                                            <span class="meta-date"><i class="fa fa-calendar"></i> 25 April, 2017 </span>
                                            <span class="meta-comment"><i class="fa fa-comment-o"></i> <a href="#" class="meta-link">(08) </a></span>
                                        </div>
                                        <div class="post-content">
                                            <p>Aliquam sed at sollicitudin tellus aliquam imperdiet is sem rumdui id nisi blandit non lorem tellus aliquam imperdiet is sem rumdui sollicitudin semeque lorem ipsums derons libero nisi vitae elit ullamper mauris vitae dignissim suscipit lorem.</p>
                                            <p>Mauris euaccumsan felis eget mattis maurised ultricies lacinia efficitquam tincidunt ultrices lacus, cursus hendrerit odio scelerisqunc dignissim erat quis sem semper effiurabitur sed fermentum magras utodio is lobortis dolrabitur posuere ullamco antelu.</p>
                                            <p>Aecidunt, libero id lobortis euismoiam dolor condimentum libe elementum ipsum felis id anulla lobortis its nised feugiat dictu dolor ippiemus quis mauris mauris quisod spendisse gravida agna, sit amet aliquettege.</p>
                                            <p>Seronces lobortis euismoiam dolor condimentum libe elementum ipsum felis id anulla lobortis itippiemus quis mauris quisod spendisse gravida agna sit amet iquette.</p>
                                            <img src="{% static 'images/left-img.jpg' %}" class="alignleft img-responsive" alt="">
                                            <h2>Left Side Image</h2>
                                            <p>Vivamus at urna molestie molestie leo dignissim gravida sapien, vel malesuada felis ultrices lorem porttiamcio et justo pharetra maximue ones ipsums onec at miante its lorem.</p>
                                            <p>Aser s at urna molestie molstie leo porttitor miultricies posuere utpreti ullaser dignissim gravida sapien, vel malesuada felis ultrices.</p>
                                            <img src="{% static 'images/right-img.jpg' %}" class="alignright img-responsive" alt="">
                                            <h2>Right Side Image</h2>
                                            <p>Loremoin pretium tellus ac nisl placerat one effiurabitur sed fermentum magras utodio is lobortis dolrabitur posuere ullamco antelu effiurabitur sed fermentum magras utodio dapibus massa liguigula. </p>
                                            <p>Maecenas finibus ultrices sollicitudinteger oat aliquetex orurna tempor etur enima one musut diam sed sapien sempere vitae.</p>
                                        </div>
                                        <hr>
                                        <div class="related-post mb40">
                                            <!-- related post -->
                                            <div class="row">
                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                    <h2 class="related-post-title mb40">Related Post</h2>
                                                </div>
                                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 mb20">
                                                    <div class="related-img mb20">
                                                        <a href="#" class="imghover"><img src="{% static 'images/related-post-3.jpg' %}" alt="" class="img-responsive"></a>
                                                    </div>
                                                    <div class="related-post-content">
                                                        <h3 class="related-title"><a href="#" class="title">The Expert Opinion We Recommendation</a></h3>
                                                        <div class="post-meta"><span class="meta-cat"><a href="#" class=""> “Equity”</a> </span></div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 mb20">
                                                    <div class="related-img mb20">
                                                        <a href="#" class="imghover"><img src="{% static 'images/related-post-2.jpg' %}" alt="" class="img-responsive"></a>
                                                    </div>
                                                    <div class="related-post-content">
                                                        <h3 class="related-title"><a href="#" class="title">The Focus Into the Market Was a Result</a></h3>
                                                        <div class="post-meta"><span class="meta-cat"><a href="#" class=""> “Comodity”</a> </span></div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 mb20">
                                                    <div class="related-img mb20">
                                                        <a href="#" class="imghover"><img src="{% static 'images/related-post-1.jpg' %}" alt="" class="img-responsive"></a>
                                                    </div>
                                                    <div class="related-post-content">
                                                        <h3 class="related-title"><a href="#" class="title">More Than 100 Planners, One Philosophy</a></h3>
                                                        <div class="post-meta"><span class="meta-cat"><a href="#" class=""> “Nifty Future”</a> </span></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- /.related post -->
                                        <hr>
                                        <div class="post-navigation mb40">
                                            <!-- post navigation -->
                                            <div class="row">
                                                <div class="nav-links">
                                                    <!-- nav links -->
                                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                                        <div class="nav-previous">
                                                            <!-- nav previous -->
                                                            <a href="#" class=" btn-link prev-link mb30">Previous</a>
                                                            <h3 class="previous-next-title"><a href="#" class="">More Than 100 Planners,<br> One Philosophy</a></h3>
                                                            
                                                        </div>
                                                        <!-- /.nav previous -->
                                                    </div>
                                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                                        <div class="nav-next text-right">
                                                            <!-- nav next -->
                                                            <a href="#" class="btn-link next-link mb30">Next</a>
                                                            <h3 class="previous-next-title"><a href="#" class="">The Focus Into the Market<br> Was a Result</a></h3>
                                                            
                                                        </div>
                                                        <!-- /.nav next -->
                                                    </div>
                                                </div>
                                                <!-- /.nav links -->
                                            </div>
                                        </div>
                                        <hr>
                                        <h2 class="mb40">Author Post</h2>
                                        <div class="author-post bg-light pinside30 mb40">
                                            <!-- author post -->
                                            <div class="row">
                                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                                    <div class="author-img">
                                                        <a href="#"><img src="{% static 'images/author.jpg' %}" class="img-responsive" alt=""></a>
                                                    </div>
                                                </div>
                                                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                                                    <h3 class="mb20"><a href="#" class="title">Denny lorens</a></h3>
                                                    <p>Seronm laoreet sitamet purus sed vestibulu ullam cursus lacus eget pharetra accumsan ante metus tinante in ones leousce in consectetur lacus non efficiturex.</p>
                                                    <a href="#" class="btn-link">View All Posts</a>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- /.author post -->
                                        <div class="comments-area mb40">
                                            <!-- comments area -->
                                            <h2 class="comments-title mb40">04 Comments</h2>
                                            <ul class="comment-list listnone no-pdl">
                                                <li class="comment">
                                                    <div class="comment-body">
                                                        <div class="">
                                                            <div class="comment-author"><img src="{% static 'images/user-pic-1.jpg' %}" alt="" class="img-circle"> </div>
                                                            <div class="comment-info mb30">
                                                                <div class="comment-header">
                                                                    <div class="comment-meta"><span class="comment-meta-date pull-right">25 February, 2017 </span></div>
                                                                    <h4 class="user-title mb10">Willy Smith</h4>
                                                                </div>
                                                                <div class="comment-content">
                                                                    <p>Laoreet sitamet purus sed vestibulu ullam cursus, lacus eget pharetra accumsan ante metus psumet efficitur elit.</p>
                                                                </div>
                                                                <div class="reply"><a href="#" class="btn-link">Reply</a></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <ul class="childern listnone">
                                                        <li class="comment">
                                                            <div class="comment-body">
                                                                <div class="">
                                                                    <div class="comment-author"><img src="{% static 'images/user-pic-2.jpg' %}" alt="" class="img-circle"> </div>
                                                                    <div class="comment-info mb30">
                                                                        <div class="comment-header">
                                                                            <div class="comment-meta"><span class="comment-meta-date pull-right">25 February, 2017 </span></div>
                                                                            <h4 class="user-title mb10">James Coley</h4>
                                                                        </div>
                                                                        <div class="comment-content">
                                                                            <p>Getub reet sitamet purus sed vestibulu ullam cursus, lacus eget pharetra accumsan anteme psumet.</p>
                                                                        </div>
                                                                        <div class="reply"><a href="#" class="btn-link">Reply</a></div>
                                                                    </div>
                                                                </div>
                                                                <hr>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                            <ul class="comment-list listnone">
                                                <li class="comment">
                                                    <div class="comment-body">
                                                        <div class="">
                                                            <div class="comment-author"><img src="{% static 'images/user-pic-3.jpg' %}" alt="" class="img-circle"> </div>
                                                            <div class="comment-info mb30">
                                                                <div class="comment-header">
                                                                    <div class="comment-meta"><span class="comment-meta-date pull-right">25 February, 2017 </span></div>
                                                                    <h4 class="user-title mb10">John Ayers</h4>
                                                                </div>
                                                                <div class="comment-content">
                                                                    <p>Dersitamet purus sed vestibulu ullam cursus, lacus eget pharetra lorem accumsan ante metus psumet efficitur dolor.</p>
                                                                </div>
                                                                <div class="reply"><a href="#" class="btn-link">Reply</a></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                            <hr>
                                            <ul class="comment-list listnone">
                                                <li class="comment">
                                                    <div class="comment-body">
                                                        <div class="">
                                                            <div class="comment-author"><img src="{% static 'images/user-pic-4.jpg' %}" alt="" class="img-circle"> </div>
                                                            <div class="comment-info mb30">
                                                                <div class="comment-header">
                                                                    <div class="comment-meta"><span class="comment-meta-date pull-right">25 February, 2017 </span></div>
                                                                    <h4 class="user-title mb10">Susan White</h4>
                                                                </div>
                                                                <div class="comment-content">
                                                                    <p>Sed mattis sem leoat sollicitudin nulla egestas acstibulum ante ipsum primis in faucibus orci luctus.</p>
                                                                </div>
                                                                <div class="reply"><a href="#" class="btn-link">Reply</a></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                        <!-- /.comments area -->
                                    </div>
                                    <!-- /.post holder -->
                                    <div class="leave-comments outline pinside30">
                                        <!-- leave comments -->
                                        <h2 class="reply-title  mb40">Leave a Reply</h2>
                                        <form class="reply-form">
                                            <div class="row">
                                                <!-- Textarea -->
                                                <div class="form-group">
                                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                        <label class="control-label" for="textarea">Comments</label>
                                                        <textarea class="form-control" id="textarea" name="textarea" rows="6"></textarea>
                                                    </div>
                                                </div>
                                                <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
                                                    <!-- Text input-->
                                                    <div class="form-group">
                                                        <label class="control-label" for="name">Name</label>
                                                        <span class="required">*</span>
                                                        <input id="name" name="name" type="text" class="form-control" required>
                                                    </div>
                                                </div>
                                                <!-- Text input-->
                                                <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
                                                    <div class="form-group">
                                                        <label class="control-label" for="email">E-mail</label>
                                                        <span class="required">*</span>
                                                        <input id="email" name="email" type="text" class="form-control" required>
                                                    </div>
                                                </div>
                                                <!-- Text input-->
                                                <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
                                                    <div class="form-group">
                                                        <label class="control-label" for="Website">Website</label>
                                                        <input id="Website" name="Website" type="text" class="form-control" required>
                                                    </div>
                                                </div>
                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                    <!-- Button -->
                                                    <div class="form-group">
                                                        <button id="singlebutton" name="singlebutton" class="btn btn-outline">Leave A Comment</button>
                                                        <span class="required pull-right">* Field Are Required</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <!-- /.leave comments -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="sidebar-area">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="widget-search mb40">
                                    <form>
                                        <div class="input-group">
                          <input type="text" class="form-control" placeholder="Seacrh Here">
                          <span class="input-group-btn">
                          <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
                          </span> </div>
                                    </form>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class=" widget widget-categories outline pinside60 mb40">
                                    <h2 class="widget-title">Categories</h2>
                                    <ul class="listnone bullet bullet-double-right mb0">
                                        <li><a href="#">Equity</a></li>
                                        <li><a href="#">Comodity</a></li>
                                        <li><a href="#">Nifty Future</a></li>
                                        <li><a href="#">Curruncy</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="widget widget-recent-post outline pinside60 mb40">
                                    <h2 class="widget-title">Recent post</h2>
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-sm-6 col-xs-12 mb40">
                                            <div class="recent-pic mb20">
                                                <a href="#" class="imghover"><img src="{% static 'images/recent-pic1.jpg' %}" class="img-responsive" alt=""></a>
                                            </div>
                                            <div class="recent-block">
                                                <!-- recent block -->
                                                <h3 class="recent-title mb20"><a href="#" class="title">The Focus Into the Market Was a Result</a></h3>
                                                <div class="post-meta">
                                                    <!-- post meta -->
                                                    <span class="meta-date"><i class="fa fa-calendar"></i> 23 April, 2017 </span> </div>
                                                <!-- /.post meta -->
                                            </div>
                                            <!-- /.recent block -->
                                        </div>
                                        <div class="col-lg-12 col-md-12 col-sm-6 col-xs-12">
                                            <div class="recent-pic mb20">
                                                <a href="#" class="imghover"><img src="{% static 'images/recent-pic2.jpg' %}" class="img-responsive" alt=""></a>
                                            </div>
                                            <div class="recent-block">
                                                <!-- recent block -->
                                                <h3 class="recent-title mb20"><a href="#" class="title">The Expert Opinion We Recommendation</a></h3>
                                                <div class="post-meta">
                                                    <!-- post meta -->
                                                    <span class="meta-date"><i class="fa fa-calendar"></i> 22 April, 2017 </span> </div>
                                                <!-- /.post meta -->
                                            </div>
                                            <!-- /.recent block -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-6 col-xs-12">
                                <div class=" widget widget-archives outline pinside60 mb40">
                                    <h2 class="widget-title">Archives</h2>
                                    <ul class="listnone bullet bullet-double-right mb0">
                                        <li><a href="#">September </a> <strong>(2017)</strong></li>
                                        <li><a href="#">August </a><strong>(2017)</strong></li>
                                        <li><a href="#">July </a><strong>(2017)</strong></li>
                                        <li><a href="#">June </a><strong>(2017)</strong></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-6 col-xs-12">
                                <!--  tags -->
                                <div class="widget widget-tags outline mb40">
                                    <h2 class="widget-title">Tags</h2>
                                    <!-- widget title -->
                                    <a href="#" title="Equity">Equity</a> <a href="#" title="Comodity">Comodity</a> <a href="#" title="Currancy">Currancy</a> <a href="#" title="Nifty Future">Nifty Future</a></div>
                                <!-- /.widget well bg -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
   
   {%include "footer.html" %}

   {%include "downLinks.html" %} 

</body>

</html>
