
{% load static %}

{% block blog %}
<!DOCTYPE html>
<html lang="en">


<head>
    
    {%include "upLinks.html" %}
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body class="animsition">
    <div class="page-header">
        <!-- page header -->
        <!-- include header here -->
        {%include "header.html" %}

        <!-- /.navigation -->
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 text-center col-xs-12">
                    <div class="page-caption">
                        <h1 class="page-title">Brokers Latest News</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.page header -->
    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                    <div class="content-area">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="post-holder mb40">
                                    <div class="post-img">
                                        <a href="blog-single.html" class=" imghover"><img src="{% static 'images/blog-post-1.jpg' %}" alt="" class="img-responsive"></a>
                                    </div>
                                    <div class="post-block pinside30 outline">
                                        <div class="post-sticky"></div>
                                        <div class="post-meta mb10">
                                            <!-- post meta -->
                                            <span class="meta-admin">By <a href="#" class="meta-link">Admin </a></span>
                                        </div>
                                        <!-- /.post meta -->
                                        <div class="post-header">
                                            <h1 class="post-title mb10"><a href="blog-single.html" class="title">More Than 100 Planners, One Philosophy</a></h1>
                                        </div>
                                        <div class="post-meta mb30">
                                            <!-- post meta -->
                                            <span class="meta-date"><i class="fa fa-calendar"></i> 25 April, 2017 </span>
                                            <span class="meta-comment"><i class="fa fa-comment-o"></i> <a href="#" class="meta-link">(08) </a></span>
                                        </div>
                                        <div class="post-content">
                                            <p>Aliquam sed at sollicitudin tellus aliquam imperdiet is sem rumdui id nisi blandit non lorem tellus aliquam imperdiet is sem rumdui sollicitudin semeque lorem ipsums derons libero nisi vitae elit ullamper mauris vitae dignissim suscipit lorem. </p>
                                            <a href="blog-single.html" class="btn-link">Read More</a> </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="post-holder mb40">
                                    <div class="post-img">
                                        <a href="blog-single.html" class=" imghover"><img src="{% static 'images/blog-post-2.jpg' %}" alt="" class="img-responsive"></a>
                                    </div>
                                    <div class="post-block pinside30 outline">
                                        <div class="post-meta mb10">
                                            <!-- post meta -->
                                            <span class="meta-admin">By <a href="#" class="meta-link">Admin </a></span>
                                        </div>
                                        <!-- /.post meta -->
                                        <div class="post-header">
                                            <h1 class="post-title mb10"><a href="blog-single.html" class="title">The Focus Into the Market Was a Result</a></h1>
                                        </div>
                                        <div class="post-meta mb30">
                                            <!-- post meta -->
                                            <span class="meta-date"><i class="fa fa-calendar"></i> 25 April, 2017 </span>
                                            <span class="meta-comment"><i class="fa fa-comment-o"></i> <a href="#" class="meta-link">(08) </a></span>
                                        </div>
                                        <div class="post-content">
                                            <p>Lorem ipsum dolorsit ametconsectetur adipiscing elauris sollicitudin risus ne nisl vehicula congueed varius sem et fermentum suscipit, ex nunccommodo purut congue erosem nec arcu volutpat dignissim hendre asellus lacinia exeu lacus iaculisid. </p>
                                            <a href="blog-single.html" class="btn-link">Read More</a> </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="post-holder mb40">
                                    <div class="post-img">
                                        <a href="blog-single.html" class=" imghover"><img src="{% static 'images/blog-post-3.jpg' %}" alt="" class="img-responsive"></a>
                                    </div>
                                    <div class="post-block pinside30 outline">
                                        <div class="post-meta mb10">
                                            <!-- post meta -->
                                            <span class="meta-admin">By <a href="#" class="meta-link">Admin </a></span>
                                        </div>
                                        <!-- /.post meta -->
                                        <div class="post-header">
                                            <h1 class="post-title mb10"><a href="blog-single.html" class="title">The Expert Opinion We Recommendation</a></h1>
                                        </div>
                                        <div class="post-meta mb30">
                                            <!-- post meta -->
                                            <span class="meta-date"><i class="fa fa-calendar"></i> 25 April, 2017 </span>
                                            <span class="meta-comment"><i class="fa fa-comment-o"></i> <a href="#" class="meta-link">(08) </a></span>
                                        </div>
                                        <div class="post-content">
                                            <p>Proin intellus inlibro iaculis rhoncus.urabitur a dictum liberoeu emes elementum leoivamus rhoncus.urabitur a dictum liberoeu dapibus tortorsed bibendum mcorpenvel rhoncu rabitur a dictum liberoeu its scelerisque felisid pellentuere.</p>
                                            <a href="blog-single.html" class="btn-link">Read More</a> </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="post-holder mb40">
                                    <div class="post-img">
                                        <a href="blog-single.html" class=" imghover"><img src="{% static 'images/blog-post-4.jpg' %}" alt="" class="img-responsive"></a>
                                    </div>
                                    <div class="post-block pinside30 outline">
                                        <div class="post-meta mb10">
                                            <!-- post meta -->
                                            <span class="meta-admin">By <a href="#" class="meta-link">Admin </a></span>
                                        </div>
                                        <!-- /.post meta -->
                                        <div class="post-header">
                                            <h1 class="post-title mb10"><a href="blog-single.html" class="title">Three Ways to Optimize Your Pricing Strategy</a></h1>
                                        </div>
                                        <div class="post-meta mb30">
                                            <!-- post meta -->
                                            <span class="meta-date"><i class="fa fa-calendar"></i> 25 April, 2017 </span>
                                            <span class="meta-comment"><i class="fa fa-comment-o"></i> <a href="#" class="meta-link">(08) </a></span>
                                        </div>
                                        <div class="post-content">
                                            <p>Proin intellus inlibro iaculis rhoncus.urabitur a dictum liberoeu emes elementum leoivamus dapibus tortorsed bibendum ullamcorpenvel its scelerisque felisid pellentesque eratull oncer pellentesque rhoncus urabitur a dictum liberoeu emes posuere.</p>
                                            <a href="blog-single.html" class="btn-link">Read More</a> </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="post-holder mb40">
                                    <div class="post-block pinside30 outline">
                                        <div class="post-meta mb10">
                                            <!-- post meta -->
                                            <span class="meta-admin">By <a href="#" class="meta-link">Admin </a></span>
                                        </div>
                                        <!-- /.post meta -->
                                        <div class="post-header">
                                            <h1 class="post-title mb10"><a href="blog-single.html" class="title">The Expert Opinion We Recommendation</a></h1>
                                        </div>
                                        <div class="post-meta mb30">
                                            <!-- post meta -->
                                            <span class="meta-date"><i class="fa fa-calendar"></i> 25 April, 2017 </span>
                                            <span class="meta-comment"><i class="fa fa-comment-o"></i> <a href="#" class="meta-link">(08) </a></span>
                                        </div>
                                        <div class="post-content">
                                            <p>Untellus inlibro iaculis rhoncus.urabitur a dictum liberoeu emes elementum leoivamus dapibus tortorsed bibendum ullamcorpenvel its scelerisque felisid pellentesque eratull posuerea emes elementu mdictum liberoeu emes elementum leoivamus.</p>
                                            <a href="blog-single.html" class="btn-link">Read More</a> </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="post-holder mb40">
                                    <!-- post holder -->
                                    <div class="quote-block bg-light outline">
                                        <!-- quote block -->
                                        <div class="quote-icon">
                                            <!-- quote icon -->
                                            <i class="fa fa-quote-left"></i>
                                        </div>
                                        <!-- /.quote icon -->
                                        <blockquote>
                                            <div class="meta-name mb30">
                                                <span class="name">By Perry Deo</span>
                                            </div>
                                            <h1 class="mb40">Quote of The Day</h1>
                                            <p>“The stock market is a advice for transferring money the impatient to the patient”</p>
                                        </blockquote>
                                    </div>
                                    <!-- /.quote block -->
                                </div>
                                <!-- /.post holder -->
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                            <div class="st-pagination">
                                <!--st-pagination-->
                                <ul class="pagination">
                                    <li> <a href="#" aria-label="previous"><span aria-hidden="true">previous</span></a></li>
                                    <li class="active"><a href="#">1</a></li>
                                    <li><a href="#">2</a></li>
                                    <li><a href="#">3</a></li>
                                    <li> <a href="#" aria-label="Next"><span aria-hidden="true">next</span></a></li>
                                </ul>
                            </div>
                            <!--/.st-pagination-->
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="sidebar-area">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="widget-search mb40">
                                    <form>
                                        <div class="input-group">
                          <input type="text" class="form-control" placeholder="Seacrh Here">
                          <span class="input-group-btn">
                          <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
                          </span> </div>
                                    </form>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class=" widget widget-categories pinside60 mb40">
                                    <h2 class="widget-title">Categories</h2>
                                    <ul class="listnone bullet bullet-double-right mb0">
                                        <li><a href="#">Equity</a></li>
                                        <li><a href="#">Comodity</a></li>
                                        <li><a href="#">Nifty Future</a></li>
                                        <li><a href="#">Curruncy</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="widget widget-recent-post pinside60 mb40">
                                    <h2 class="widget-title">Recent post</h2>
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-sm-6 col-xs-12 mb40">
                                            <div class="recent-pic mb20">
                                                <a href="#" class="imghover"><img src="{% static 'images/recent-pic1.jpg' %}" class="img-responsive" alt=""></a>
                                            </div>
                                            <div class="recent-block">
                                                <!-- recent block -->
                                                <h3 class="recent-title mb20"><a href="#" class="title">The Focus Into the Market Was a Result</a></h3>
                                                <div class="post-meta">
                                                    <!-- post meta -->
                                                    <span class="meta-date"><i class="fa fa-calendar"></i> 23 April, 2017 </span> </div>
                                                <!-- /.post meta -->
                                            </div>
                                            <!-- /.recent block -->
                                        </div>
                                        <div class="col-lg-12 col-md-12 col-sm-6 col-xs-12">
                                            <div class="recent-pic mb20">
                                                <a href="#" class="imghover"><img src="{% static 'images/recent-pic2.jpg' %}" class="img-responsive" alt=""></a>
                                            </div>
                                            <div class="recent-block">
                                                <!-- recent block -->
                                                <h3 class="recent-title mb20"><a href="#" class="title">The Expert Opinion We Recommendation</a></h3>
                                                <div class="post-meta">
                                                    <!-- post meta -->
                                                    <span class="meta-date"><i class="fa fa-calendar"></i> 22 April, 2017 </span> </div>
                                                <!-- /.post meta -->
                                            </div>
                                            <!-- /.recent block -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-6 col-xs-12">
                                <div class=" widget widget-archives pinside60 mb40">
                                    <h2 class="widget-title">Archives</h2>
                                    <ul class="listnone bullet bullet-double-right mb0">
                                        <li><a href="#">September </a> <strong>(2017)</strong></li>
                                        <li><a href="#">August </a><strong>(2017)</strong></li>
                                        <li><a href="#">July </a><strong>(2017)</strong></li>
                                        <li><a href="#">June </a><strong>(2017)</strong></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-6 col-xs-12">
                                <!--  tags -->
                                <div class="widget widget-tags mb40">
                                    <h2 class="widget-title">Tags</h2>
                                    <!-- widget title -->
                                    <a href="#" title="Equity">Equity</a> <a href="#" title="Comodity">Comodity</a> <a href="#" title="Currancy">Currancy</a> <a href="#" title="Nifty Future">Nifty Future</a></div>
                                <!-- /.widget well bg -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!-- include footer here -->
    {%include "footer.html" %}

    <!-- include down|Links here -->
    {%include "downLinks.html" %}

</body>

</html>

{% endblock %}
