{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  {%include "upLinks.html" %}
<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style type="text/css">
 iframe{
  max-width: 100% !important;
}

    </style>
</head>
<body class="animsition">
<div class="page-header"><!-- page header -->

  {%include "header.html" %}
        <!-- /.navigation -->

  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12 text-center col-xs-12">
        <div class="page-caption">
      
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /.page header -->
<div class="fluid-container" align="center">
<div class="map-responsive">
      <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13611.255122483704!2d74.3792733!3d31.4743084!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x4368b3014a4be53c!2sDMC+Markets+Pvt+Limited!5e0!3m2!1sen!2s!4v1520592902191" width="1200" height="500" frameborder="0" style="border:0" class="map-responsive" allowfullscreen ></iframe>
    </div>
</div>
<div class="content">
  <div class="container">
    <div class="row">
      
      <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
        <div class="outline pinside40">
          <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h1>Get In Touch</h1>
            <div class="row">
             
              <!-- Text input-->
              <div class="form-group">
                <label class="col-lg-7 col-md-7 col-sm-12 col-xs-12 control-label" for="textinput">Name <span class="required">*</span></label>  
                <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
                <input id="textinput" name="textinput" type="text" placeholder="" class="form-control input-md">
                </div>
              </div>

              <!-- Text input-->
              <div class="form-group">
                <label class="col-lg-7 col-md-7 col-sm-12 col-xs-12 control-label" for="textinput">Email <span class="required">*</span></label>  
                <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
                <input id="textinput1" name="textinput" type="text" placeholder="" class="form-control input-md"> 
                </div>
              </div>

              <!-- Text input-->
              <div class="form-group">
                <label class="col-lg-7 col-md-7 col-sm-12 col-xs-12 control-label" for="textinput">Phone <span class="required">*</span></label>  
                <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
                <input id="textinput2" name="textinput" type="text" placeholder="" class="form-control input-md">
                </div>
              </div>

              <!-- Textarea -->
              <div class="form-group">
                <label class="col-lg-12 col-md-12 col-sm-12 col-xs-12 control-label" for="textarea">Text Area</label>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <textarea class="form-control" rows="7" id="textarea" name="textarea"></textarea>
                </div>
              </div>
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <button id="submit" onclick="myFunction()" name="singlebutton" class="btn btn-outline">Submit Request</button>
                <span class="required pull-right">* Field Are Required</span>
                <p id="demo"> </p>
                <script>
function myFunction() {
    document.getElementById("textarea").value = "";
     document.getElementById("textinput").value = "";
    document.getElementById("textinput1").value = "";
        document.getElementById("textinput2").value = "";
    document.getElementById("demo").innerHTML = "You are Connected Now";
  
}
</script>
              </div>
         
            </div>

          </div>
        </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <div class="widget outline">
                  
                    <div class="widget-img mb30">
                      <img src="{% static 'images/getintouch.jpg' %}" class="img-responsive" alt="">
                    </div>
                    <p>The dedicated professionals in our nationwide field offices are ready to help you always</p>
                    <a href="{% url 'home' %}" class="btn btn-outline">Learn More</a>
                  </div>
                </div>
        </div>
      </div>
    </div>
  </div>
</div>

{%include "footer.html" %}

{%include "downLinks.html" %}


</body>
</html>