{% block footer %}

{% load static %}
<div class="footer section-space60">
        <!-- footer -->
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
                    <div class="footer-widget mb20">
                        <!-- footer-widget -->
                        <h3 class="footer-title">Contact Info</h3>
                        <div class="ft-contact-info">
                            <!-- ft contact info -->
                            <div class="ft-icon">
                                <!-- ft icon -->
                                <i class="fa fa-phone"></i>
                            </div>
                            <!-- /.ft icon -->
                            <div class="ft-content">
                                <!-- ft content -->
                                042-3718 5340
                            </div>
                            <!-- /.ft content -->
                        </div>
                        <!-- /.ft contact info -->
                        <div class="ft-contact-info">
                            <!-- ft contact info -->
                            <div class="ft-icon">
                                <!-- ft icon -->
                                <i class="fa fa-envelope"></i>
                            </div>
                            <!-- /.ft icon -->
                            <div class="ft-content">
                                <!-- ft content -->
                                info@dmcmarkets.com
                            </div>
                            <!-- /.ft content -->
                        </div>
                        <!-- /.ft contact info -->
                        <div class="ft-contact-info">
                            <!-- ft contact info -->
                            <div class="ft-icon">
                                <!-- ft icon -->
                                <i class="fa fa-map-marker"></i>
                            </div>
                            <!-- /.ft icon -->
                            <div class="ft-content">
                                <!-- ft content -->
                               2nd Floor 36-Z DHA Phase-3 
                                <br>LAHORE,PAKISTAN
                            </div>
                            <!-- /.ft content -->
                        </div>
                        <!-- /.ft contact info -->
                    </div>
                    <!-- /.footer-widget -->
                </div>
                <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12">
                    <div class="footer-widget mb20">
                        <!-- footer-widget -->
                        <h3 class="footer-title">Quick Links</h3>
                        <ul class="bullet listnone no-padding mb0">
                            <li><i class="fa fa-angle-right"></i> <a href="{% url 'home' %}" class="Home">Home</a></li>
                            <li><i class="fa fa-angle-right"></i> <a href="{% url 'pmexform' %}" title="Services">PMEX FORMS</a></li>
                            <li><i class="fa fa-angle-right"></i> <a href="{% url 'blog' %}" title="Blog">Blog</a></li>
                            <li><i class="fa fa-angle-right"></i> <a href="{% url 'contact-us' %}" title="Contact us">Contact us</a></li>
                        </ul>
                        <!-- /.footer-widget -->
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
                    <div class="footer-widget mb20">
                        <!-- footer-widget -->
                        <h3 class="footer-title">Follow Us On</h3>
                        <ul class="listnone no-padding mb0">
                            <li class="footer-link"><a href="https://www.facebook.com/dmcmarkets.co/?hc_ref=ARQ64xjsT65MYsnMkkTMVzL4uYYYFMjZ4wE0-TX1kd-93xHlDgJ6A_6pONujyRQ81BY&fref=nf"><i class="fa fa-facebook-square "></i> facebook</a></li>
                      
                           
                        </ul>
                    </div>
                    <!-- /.footer-widget -->
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="footer-widget">
                        <!-- footer-widget -->
                        <h3 class="footer-title">Newsletter</h3>
                        <p>Subscribe our email newsletter today to receive updates.</p>
                       
                            <div class="form-group">
                                <label for="inputEmail3" class="sr-only control-label">Email</label>
                                <input type="email" class="form-control" id="inputEmail3" placeholder="Enter Email Address">
                            </div>
                            <div class="form-group">
                                <button   onclick="myFunction1()" class="btn btn-outline">Subscribe</button>
                                <p id="demo1"> </p>
                            </div>
                            <script>
function myFunction1() {
    document.getElementById("demo1").innerHTML = "You are Subscribe Now";
    document.getElementById("inputEmail3").value = "";
}
</script>
                       
                    </div>
                    <!-- /.footer-widget -->
                </div>
            </div>
        </div>
    </div>
    <!-- /.footer -->
    <div class="tiny-footer">
        <!-- tiny-footer -->
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
               
                </div>
            </div>
        </div>
    </div>
    <!-- /.tiny-footer -->
    <!-- back to top icon -->
    <a href=" #0 " class="cd-top" title="Go to top">Top</a>

    {% endblock %}