{% block footer %}

{% load static %}
<div class="footer section-space60">
        <!-- footer -->
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
                    <div class="footer-widget mb20">
                        <!-- footer-widget -->
                        <h3 class="footer-title">Contact Info</h3>
                        <div class="ft-contact-info">
                            <!-- ft contact info -->
                            <div class="ft-icon">
                                <!-- ft icon -->
                                <i class="fa fa-phone"></i>
                            </div>
                            <!-- /.ft icon -->
                            <div class="ft-content">
                                <!-- ft content -->
                                +91 123 456 789
                            </div>
                            <!-- /.ft content -->
                        </div>
                        <!-- /.ft contact info -->
                        <div class="ft-contact-info">
                            <!-- ft contact info -->
                            <div class="ft-icon">
                                <!-- ft icon -->
                                <i class="fa fa-envelope"></i>
                            </div>
                            <!-- /.ft icon -->
                            <div class="ft-content">
                                <!-- ft content -->
                                info@broker.com
                            </div>
                            <!-- /.ft content -->
                        </div>
                        <!-- /.ft contact info -->
                        <div class="ft-contact-info">
                            <!-- ft contact info -->
                            <div class="ft-icon">
                                <!-- ft icon -->
                                <i class="fa fa-map-marker"></i>
                            </div>
                            <!-- /.ft icon -->
                            <div class="ft-content">
                                <!-- ft content -->
                                4451 Jett Lane Irvine,
                                <br>CA 92614
                            </div>
                            <!-- /.ft content -->
                        </div>
                        <!-- /.ft contact info -->
                    </div>
                    <!-- /.footer-widget -->
                </div>
                <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12">
                    <div class="footer-widget mb20">
                        <!-- footer-widget -->
                        <h3 class="footer-title">Quick Links</h3>
                        <ul class="bullet listnone no-padding mb0">
                            <li><i class="fa fa-angle-right"></i> <a href="index.html" class="Home">Home</a></li>
                            <li><i class="fa fa-angle-right"></i> <a href="service-list.html" title="Services">Services</a></li>
                            <li><i class="fa fa-angle-right"></i> <a href="blog.html" title="Blog">Blog</a></li>
                            <li><i class="fa fa-angle-right"></i> <a href="contact-us.html" title="Contact us">Contact us</a></li>
                        </ul>
                        <!-- /.footer-widget -->
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
                    <div class="footer-widget mb20">
                        <!-- footer-widget -->
                        <h3 class="footer-title">Follow Us On</h3>
                        <ul class="listnone no-padding mb0">
                            <li class="footer-link"><a href="#"><i class="fa fa-facebook-square "></i> facebook</a></li>
                            <li class="footer-link"><a href="#"><i class="fa fa-twitter-square "></i> twitter</a></li>
                            <li class="footer-link"><a href="#"><i class="fa fa-google-plus-square "></i> google-plus</a></li>
                        </ul>
                    </div>
                    <!-- /.footer-widget -->
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="footer-widget">
                        <!-- footer-widget -->
                        <h3 class="footer-title">Newsletter</h3>
                        <p>Subscribe our email newsletter today to receive updates.</p>
                        <form>
                            <div class="form-group">
                                <label for="inputEmail3" class="sr-only control-label">Email</label>
                                <input type="email" class="form-control" id="inputEmail3" placeholder="Enter Email Address">
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-outline">Subscribe</button>
                            </div>
                        </form>
                    </div>
                    <!-- /.footer-widget -->
                </div>
            </div>
        </div>
    </div>
    <!-- /.footer -->
    <div class="tiny-footer">
        <!-- tiny-footer -->
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                   Shared by <i class="fa fa-love"></i><a href="https://bootstrapthemes.co">BootstrapThemes</a>
                </div>
            </div>
        </div>
    </div>
    <!-- /.tiny-footer -->
    <!-- back to top icon -->
    <a href=" #0 " class="cd-top" title="Go to top">Top</a>

    {% endblock %}