{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- include links -->
    {%include "upLinks.html" %}
    <!-- owl Carousel Css -->
    <link href="{% static 'css/owl.carousel.css' %}" rel="stylesheet">
    <link href="{% static 'css/owl.theme.css' %}" rel="stylesheet">
    <link href="{% static 'css/demo.css' %}" rel="stylesheet">
       <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

            <link href="{% static 'css/style1.css' %}" rel="stylesheet">

   <link href="{% static 'js/modernizr.custom.86080.js' %}" rel="stylesheet">
      <style>
.mySlides {display:none;}
</style>      
  
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body class="animsition">
    
      <div class="intro-section" >  <!-- intro section -->
        <!-- include header -->
  
    {%include "header.html" %}

  

            <!-- *** HOMEPAGE CAROUSEL ***
 _________________________________________________________ -->
    </div>
    

            <!-- *** HOMEPAGE CAROUSEL END ***                            hgjghgjhhh -->
    

        
        <!-- /.navigation -->
      

    <!-- /.intro section -->
    <div class="section-space60">
        <!-- section-space80 -->
        <div class="container">
       
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="service-block mb20 pinside30 outline text-center">
                        <div class="service-icon mb30"><img src="{% static 'images/service-icon4.png' %}" class="img-responsive" alt=""></div>
                        <div class="">
                            <h2><a href="" class="heading-title">GO 100 Oz (Gold 100 Ounce) </a></h2>
                           
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="service-block mb20 pinside30 outline text-center">
                        <div class="service-icon mb30"><img src="{% static 'images/service-icon4.png' %}" class="img-responsive" alt=""></div>
                        <div class="">
                            <h2><a href="" class="heading-title"></a>GO 10 Oz (Gold 10 Ounce) </h2>
                            
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="service-block mb20 pinside30 outline text-center">
                        <div class="service-icon mb30"><img src="{% static 'images/service-icon4.png' %}" class="img-responsive" alt="">
                        </div>
                        <div class="">
                            <h2><a href="" class="heading-title">GO 1 Oz (Gold 1 Ounce) </a></h2>
                           
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="service-block mb20 pinside30 outline text-center">
                        <!-- service block -->
                        <div class="service-icon mb30"><img src="{% static 'images/service-icon4.png' %}" class="img-responsive" alt=""></div>
                        <div class="">
                            <h2><a href="" class="heading-title">SL 5000 Oz (Silver 5000 Ounce) </a></h2>
                          

                        </div>
                    </div>
                    <!-- /.service block -->
                </div>
            </div>
              <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="service-block mb20 pinside30 outline text-center">
                        <div class="service-icon mb30"><img src="{% static 'images/service-icon4.png' %}" class="img-responsive" alt=""></div>
                        <div class="">
                            <h2><a href="" class="heading-title">SL 500 Oz (Silver 500 Ounce) </a></h2>
                           
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="service-block mb20 pinside30 outline text-center">
                        <div class="service-icon mb30"><img src="{% static 'images/service-icon4.png' %}" class="img-responsive" alt=""></div>
                        <div class="">
                            <h2><a href="" class="heading-title"></a>SL 100 Oz (Silver 100 Ounce) </h2>
                            
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="service-block mb20 pinside30 outline text-center">
                        <div class="service-icon mb30"><img src="{% static 'images/service-icon4.png' %}" class="img-responsive" alt="">
                        </div>
                        <div class="">
                            <h2><a href="" class="heading-title">SL 10 Oz (Silver 10 Ounce) </a></h2>
                           
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="service-block mb20 pinside30 outline text-center">
                        <!-- service block -->
                        <div class="service-icon mb30"><img src="{% static 'images/service-icon4.png' %}" class="img-responsive" alt=""></div>
                        <div class="">
                            <h2><a href="" class="heading-title">Platinum 50 Oz (50 Ounce)</a></h2>
                          

                        </div>
                    </div>
                    <!-- /.service block -->
                </div>
            </div>
              <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="service-block mb20 pinside30 outline text-center">
                        <div class="service-icon mb30"><img src="{% static 'images/service-icon4.png' %}" class="img-responsive" alt=""></div>
                        <div class="">
                            <h2><a href="" class="heading-title">Platinum 5 Oz (5 Ounce)  </a></h2>
                           
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="service-block mb20 pinside30 outline text-center">
                        <div class="service-icon mb30"><img src="{% static 'images/service-icon4.png' %}" class="img-responsive" alt=""></div>
                        <div class="">
                            <h2><a href="" class="heading-title"></a>Copper 25000 Pounds </h2>
                            
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="service-block mb20 pinside30 outline text-center">
                        <div class="service-icon mb30"><img src="{% static 'images/service-icon4.png' %}" class="img-responsive" alt="">
                        </div>
                        <div class="">
                            <h2><a href="" class="heading-title">Copper 1000 Pounds  </a></h2>
                           
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="service-block mb20 pinside30 outline text-center">
                        <!-- service block -->
                        <div class="service-icon mb30"><img src="{% static 'images/service-icon4.png' %}" class="img-responsive" alt=""></div>
                        <div class="">
                            <h2><a href="" class="heading-title">Crude Oil 1000 Barrels </a></h2>
                          

                        </div>
                    </div>
                    <!-- /.service block -->
                </div>
            </div>
              <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="service-block mb20 pinside30 outline text-center">
                        <div class="service-icon mb30"><img src="{% static 'images/service-icon4.png' %}" class="img-responsive" alt=""></div>
                        <div class="">
                            <h2><a href="" class="heading-title">Crude Oil 100 Barrels </a></h2>
                           
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="service-block mb20 pinside30 outline text-center">
                        <div class="service-icon mb30"><img src="{% static 'images/service-icon4.png' %}" class="img-responsive" alt=""></div>
                        <div class="">
                            <h2><a href="" class="heading-title"></a>Crude Oil 10 Barrels </h2>
                            
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="service-block mb20 pinside30 outline text-center">
                        <div class="service-icon mb30"><img src="{% static 'images/service-icon4.png' %}" class="img-responsive" alt="">
                        </div>
                        <div class="">
                            <h2><a href="" class="heading-title">Brent Oil1000 Barrels  </a></h2>
                           
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="service-block mb20 pinside30 outline text-center">
                        <!-- service block -->
                        <div class="service-icon mb30"><img src="{% static 'images/service-icon4.png' %}" class="img-responsive" alt=""></div>
                        <div class="">
                            <h2><a href="" class="heading-title">Brent Oil 100 Barrels </a></h2>
                          

                        </div>
                    </div>
                    <!-- /.service block -->
                </div>
            </div>
              <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="service-block mb20 pinside30 outline text-center">
                        <div class="service-icon mb30"><img src="{% static 'images/service-icon4.png' %}" class="img-responsive" alt=""></div>
                        <div class="">
                            <h2><a href="" class="heading-title">Brent Oil 10 Barrels</a></h2>
                           
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="service-block mb20 pinside30 outline text-center">
                        <div class="service-icon mb30"><img src="{% static 'images/service-icon4.png' %}" class="img-responsive" alt=""></div>
                        <div class="">
                            <h2><a href="" class="heading-title"></a>Natural Gas (NATGAS) 10K  </h2>
                            
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="service-block mb20 pinside30 outline text-center">
                        <div class="service-icon mb30"><img src="{% static 'images/service-icon4.png' %}" class="img-responsive" alt="">
                        </div>
                        <div class="">
                            <h2><a href="" class="heading-title">Natural Gas (NATGAS) 1K  </a></h2>
                           
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="service-block mb20 pinside30 outline text-center">
                        <!-- service block -->
                        <div class="service-icon mb30"><img src="{% static 'images/service-icon4.png' %}" class="img-responsive" alt=""></div>
                        <div class="">
                            <h2><a href="" class="heading-title">GOLD EURUSD, (€ 10,000) </a></h2>
                          

                        </div>
                    </div>
                    <!-- /.service block -->
                </div>
            </div>
              <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="service-block mb20 pinside30 outline text-center">
                        <div class="service-icon mb30"><img src="{% static 'images/service-icon4.png' %}" class="img-responsive" alt=""></div>
                        <div class="">
                            <h2><a href="" class="heading-title">GOLD GBPUSD, (£ 10,000) </a></h2>
                           
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="service-block mb20 pinside30 outline text-center">
                        <div class="service-icon mb30"><img src="{% static 'images/service-icon4.png' %}" class="img-responsive" alt=""></div>
                        <div class="">
                            <h2><a href="" class="heading-title"></a>GOLD USDJPY, ($10,000) </h2>
                            
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="service-block mb20 pinside30 outline text-center">
                        <div class="service-icon mb30"><img src="{% static 'images/service-icon4.png' %}" class="img-responsive" alt="">
                        </div>
                        <div class="">
                            <h2><a href="" class="heading-title">GOLD USCHF, ($ 10,000) </a></h2>
                           
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="service-block mb20 pinside30 outline text-center">
                        <!-- service block -->
                        <div class="service-icon mb30"><img src="{% static 'images/service-icon4.png' %}" class="img-responsive" alt=""></div>
                        <div class="">
                            <h2><a href="" class="heading-title">GOLD USDCAD, ($ 10,000)</a></h2>
                          

                        </div>
                    </div>
                    <!-- /.service block -->
                </div>
            </div>
              <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="service-block mb20 pinside30 outline text-center">
                        <div class="service-icon mb30"><img src="{% static 'images/service-icon4.png' %}" class="img-responsive" alt=""></div>
                        <div class="">
                            <h2><a href="" class="heading-title">GOLD AUDUSD, (A$ 10,000)  </a></h2>
                           
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="service-block mb20 pinside30 outline text-center">
                        <div class="service-icon mb30"><img src="{% static 'images/service-icon4.png' %}" class="img-responsive" alt=""></div>
                        <div class="">
                            <h2><a href="" class="heading-title"></a>S&P 500</h2>
                            
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="service-block mb20 pinside30 outline text-center">
                        <div class="service-icon mb30"><img src="{% static 'images/service-icon4.png' %}" class="img-responsive" alt="">
                        </div>
                        <div class="">
                            <h2><a href="" class="heading-title">Nasdaq-100</a></h2>
                           
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="service-block mb20 pinside30 outline text-center">
                        <!-- service block -->
                        <div class="service-icon mb30"><img src="{% static 'images/service-icon4.png' %}" class="img-responsive" alt=""></div>
                        <div class="">
                            <h2><a href="" class="heading-title">DJIA-30</a></h2>
                          

                        </div>
                    </div>
                    <!-- /.service block -->
                </div>
            </div>
        </div>
        <!-- /.section-space80 -->
    </div>

              
          
      
  
   
    <!-- include footer here -->
    {%include "footer.html" %}

    
    <!-- include downLinks here -->
    {%include "downLinks.html" %}
    <!-- owl carsoul -->
    <script type="text/javascript" src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/testimonial.js' %}"></script>
    
</body>

</html>
