{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

    {%include "upLinks.html" %}

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body class="animsition">
    <div class="page-header">
        <!-- page header -->

        {%include "header.html" %}
        

        <!-- /.navigation -->
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 text-center col-xs-12">
                    <div class="page-caption">
                        <h1 class="page-title">Style Guide</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.page header -->
    <!-- /.page header -->
    <div class="content">
        <!-- main-container -->
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <h2 class="mb60">Typography</h2>
                    <h1>h1. Bootstrap heading</h1>
                    <h2>h2. Bootstrap heading</h2>
                    <h3>h3. Bootstrap heading</h3>
                    <h4>h4. Bootstrap heading</h4>
                    <h5>h5. Bootstrap heading</h5>
                    <h6>h6. Bootstrap heading</h6>
                    <hr>
                </div>
                <div class="col-md-12 col-sm-12">
                    <h2>Base Copy</h2>
                    <p>Lorem ipsum dolor sit ametest link adipiscing elitullam dignissim convallis esuisque aliquamonec faucibuunc iaculis suscipit duiam sit amet sem Aliquam libero nisi imperdiet atincidunt nec gravida vehicula nisraesent mattis massa quis luctus fermentum turpis mi volutpat justoeu volutpat enim diam eget metusaecenas ornare toronec sed tellus eget sapien fringilla nonumm aurisa anteusp endisse quam seconsequat commodo vitae feugiat in nuncorbi mperdiet augue quislorem tellusorbi aliquam semper nibh aliquam variusnisl sagittis facilisis raesent convallis venenatis dolor a cursus ipsum imperdiet etIn pretium ligula elitt lorem ipsuk egestas purus aliquam ided ultrices tortordolor at commodo metus pulvinar velInteger dictum nisl id magna condimentum eleifend. </p>
                    <hr>
                </div>
                <div class="col-md-6 col-sm-12">
                    <h2>Block Quote</h2>
                    <div class="post-holder mb40">
                        <div class="quote-block">
                            <blockquote>
                                <p>“Yoga is the journey
                                    <br> of the self,
                                    <br> Through the Self,
                                    <br> To the Self”</p>
                                <div class="name">
                                    <span class="name">- The Bhagvad Gita</span>
                                </div>
                            </blockquote>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-sm-12">
                    <hr>
                    <div class="mb80">
                        <!-- mb80 -->
                        <h2> List</h2>
                        <div class="row">
                            <div class="col-md-5 col-sm-6">
                                <h3>Unordered</h3>
                                <ul>
                                    <li>Interdum et malesuada fames acante. </li>
                                    <li>Pellentesque auctor felisid maximus aliquet.</li>
                                    <li>Interdum et malesuada fames acante.</li>
                                    <li>Phasellus vitae dictum diam vitae condime.</li>
                                    <li>Aliquam hendrerit tempus neque a eleifend. </li>
                                </ul>
                            </div>
                            <div class="col-md-5 col-sm-6">
                                <h3>Ordered</h3>
                                <ol>
                                    <li>Interdum et malesuada fames acante. </li>
                                    <li>Pellentesque auctor felisid maximus aliquet.</li>
                                    <li>Interdum et malesuada fames acante.</li>
                                    <li>Phasellus vitae dictum diam vitae condime.</li>
                                    <li>Aliquam hendrerit tempus neque a eleifend. </li>
                                </ol>
                            </div>
                        </div>
                    </div>
                    <!-- /.mb80 -->
                </div>
                <div class="col-md-12 col-sm-12">
                    <h2>Buttons</h2>
                </div>
                <div class="col-md-12 col-sm-12 mb30"> <a href="#" class="btn btn-default-outline btn-lg">Large button</a> <a href="#" class="btn btn-default btn-lg">Large button</a> </div>
                <div class="col-md-12 col-sm-12 mb30"> <a href="#" class="btn btn-default-outline">Default button</a> <a href="#" class="btn btn-default">Default button</a> </div>
                <div class="col-md-12 col-sm-12 mb30"> <a href="#" class="btn btn-default-outline btn-sm">Small button</a> <a href="#" class="btn btn-default btn-sm">Small button</a> </div>
                <div class="col-md-12 col-sm-12"> <a href="#" class="btn btn-default-outline btn-xs">Extra small button</a> <a href="#" class="btn btn-default btn-xs">Extra small button</a>
                    <hr>
                </div>
            </div>
        </div>
    </div>
    </div>
    <!-- /.main-container -->
    </div>

    {%include "footer.html" %}

    {%include "downLinks.html" %}

</body>

</html>
