{% block upLinks %}

{% load static %}
<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="Stock Broker - provide the easy responsive free website templates. You can easily customize and make your own website for your startup business.">
    <meta name="keywords" content="bootstrap template, Responsive Template, Website Template, free website templates, free website template download ">
    <title>Stock Broker | Bootstrap | Free Responsive Website Templates</title>
    <!-- Bootstrap -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- style css -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <!-- animsition css -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/animsition.min.css' %}">
    <!-- Font Awesome CSS -->
    <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet">
    <!-- font css -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">

    {% endblock %}